@import 'style/config.scss';

.controls {

}

.control {
    color: $color-dark-40;
}

.control + .control {
    margin-top: $size-lg;
}

.actions {
    margin-top: $size-base;
    font-size: $font-size-sm;
}

.nocontrols {
    padding: $size-base;
    text-align: center;
}
