{
    "presets": [
        "es2015",
        "stage-0",
        "react"
    ],
    "plugins": [],
    "env": {
        "production": {
            "plugins": [
                "transform-remove-console",
                "transform-react-constant-elements"
            ]
        }
    }
}
