@import 'style/config.scss';

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $color-dark;
}

.canvas {
    display: block;
}

.thumb {
    background-color: rgba($color-dark-90, 0.5);
}
