@import 'style/config.scss';

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-dark;
}

.canvas {
    background-color: $color-white;
}
