@import 'style/config.scss';

// Button
// -----------------------------------------------------------------------------

.button {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 0;

    border: 0;
    outline: 0;
    padding: 0;

    font-family: inherit;
    white-space: nowrap;
    vertical-align: middle;
    line-height: normal;
    text-decoration: none;

    background-image: none;
    background-color: transparent;

    touch-action: manipulation;
    user-select: none;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.button {
    height: $input-height;
    line-height: $input-height;
    min-width: $input-height;
    padding: 0 $input-padding;

    border-radius: $input-radius;
    border: 1px solid $color-black;

    font-weight: $font-weight-bold;

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        opacity: 0.4;
    }
}

// Firefox: Get rid of the inner focus border
.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.icon + .label {
    margin-left: $size-sm;
}

.block {
    width: 100%;
    display: block;
}

.align-center { text-align: center; }
.align-left { text-align: left; }
.align-right { text-align: left; }

.square {
    width: $input-height;
}

// Appearance
// -----------------------------------------------------------------------------

.appearance-default {
    &:hover,
    &:focus {
        color: $color-white;
        background-color: $color-dark-90;
        box-shadow: inset 0px 1px 0px $color-dark-85;
    }

    &.active,
    &:active {
        color: $color-white;
        background-color: $color-dark;
        box-shadow: inset 0px 1px 0px rgba($color-black, 0.2);
    }

    &, &[disabled] {
        color: $color-dark-40;
        background-color: $color-dark-95;
        box-shadow: inset 0px 1px 0px $color-dark-90;
    }
}

.appearance-invert {
    &:hover,
    &:focus {
        color: $color-dark-95;
        background-color: $color-dark-20;
    }

    &.active,
    &:active {
        color: $color-dark-95;
        background-color: $color-dark-25;
        box-shadow: inset 0px 1px 0px $color-dark-30;
    }

    &, &[disabled] {
        color: $color-dark-90;
        background-color: $color-dark-25;
        box-shadow: inset 0px 1px 0px $color-white;
    }
}
