@import 'style/config.scss';

.container {
    position: relative;
}

.showDrawer {
    .drawer { display: flex; }
    .toggleDrawerFlyOut { display: none; }
}

.drawer {
    display: none;
    flex-direction: column;
    width: 300px;
    height: 100%;
}

.toggleDrawerFlyOut {
    position: absolute;
    left: calc(#{-$input-height} - #{(2 * $size-base)});
    margin: $size-base;
}

.panelMain {
    flex-grow: 0;
}

.panelMainSplit {
    display: flex;
}
.panelMainLeft {
    flex-grow: 1;
}
.panelMainRight {
    flex-grow: 0;
    margin-left: $size-base;
}

.panelControls {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.warnings {

}

.warning {
    margin-top: $size-base;
}
