@import 'style/config.scss';

.container {
    display: flex;
    flex-direction: column;
}

.panelMain {
    flex-grow: 0;
}

.panelControls {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.warnings {

}

.warning {
    margin-top: $size-base;
}
